body
{
  background-color: #13141a;
  color: #f8f8f2;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#titleimg
{
  width: 70%;
  margin-left: 15%;
}

#navbar
{
  width: 70%;
  margin-left: 15%;
  list-style-type: none;
}

#navbar li
{
  display: inline;
}

#navbar li a
{
  display: inline-block;
  padding: 8px;
  color: #f8f8f2;
  text-decoration: none;
}

#navbar li a:hover
{
  color: #13141a;
  background-color: #f8f8f2;
}

#center
{
  background-color: #282a36;
  width: 70%;
  margin-left: 15%;
  text-indent: 1em;
  border: 2px solid #3a3e4f;
  border-bottom-color: #1c1e26;
  border-right-color: #1c1e26;
}

h1
{
  text-decoration: underline;
}

p
{
  text-indent: 4em;
}
